# NOTE: Your final requirements for production/publishing the repo go here.
https://github.com/sdat2/pyxpcm/archive/sof-agu.zip
hydra-core
wandb

# xarray extras
netcdf4
scikit-learn
# pynio
gsw
dask
pandas
tqdm
pylint
