# NOTE: Your final requirements for production/publishing the repo go here.
# https://github.com/sdat2/pyxpcm/archive/sof-agu.zip
https://github.com/sdat2/pyxpcm/archive/sort_and_pca.zip
hydra-core
wandb

# xarray extras
netcdf4
scikit-learn
# pynio
gsw
dask
pandas
tqdm
pylint

# docs
mkdocs
mkdocs-material
mkdocstrings
mkautodoc
